<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>
  <body>
    <app></app>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
